[options]
; This is the password that allows database operations:
; admin_passwd = admin
db_host = False
db_port = False
db_user = {{ odoo_db_user }}
db_password = False
;addons_path = /usr/lib/python3/dist-packages/odoo/addons
dbfilter = ^{{ odoo_domain }}.*$