<VirtualHost *:80>
    ServerName {{ odoo_domain }}
    ServerAlias www.{{ odoo_domain }}
    ProxyPass / http://{{ odoo_domain }}:8069/
    ProxyPassReverse / http://{{ odoo_domain }}:8069/
    ProxyErrorOverride off
    TransferLog /var/log/apache2/transfer.{{ odoo_domain }}.log
    #Fix IE problem (httpapache proxy dav error 408/409)
    SetEnv proxy-nokeepalive 1
</VirtualHost>
