<VirtualHost *:80>
ServerName {{ odoo_domain }}
ServerAlias www.{{ odoo_domain }}

Redirect permanent / https://{{ odoo_domain }}/
    TransferLog /var/log/apache2/transfer.{{ odoo_domain }}.log
</VirtualHost>

<VirtualHost *:443>
   ServerName {{ odoo_domain }}
   ServerAlias www.{{ odoo_domain }}

   SSLProxyEngine on
   SSLEngine on
   SSLCertificateFile /etc/ssl/erp/{{ odoo_domain }}.crt
   SSLCertificateKeyFile /etc/ssl/erp/{{ odoo_domain }}.key
   SSLCACertificateFile    /etc/ssl/erp/{{ odoo_domain }}.crt
   RequestHeader set "X-Forwarded-Proto" "https"
   SetEnv proxy-nokeepalive 1
        ProxyPass / http://{{ odoo_domain }}:8069/
        ProxyPassReverse / http://{{ odoo_domain }}:8069/
   ProxyErrorOverride off
   TransferLog /var/log/apache2/transfer.{{ odoo_domain }}.log
   #Fix IE problem (httpapache proxy dav error 408/409)
   SetEnv proxy-nokeepalive 1
</VirtualHost>
